h1{
	font-size: 50;
	font-family: Abril Fatface;
}
body{
	margin:50px;
	background-color: #d7ebad;
}
#Wrapper {
	margin-top: 150px;
	margin-bottom: 150px;
	margin-right: 50px;
	margin-left: 50px;
	background-color: white;
	text-align: center;
	padding-left: 50px;
	padding-bottom: 15%;
}
form{
	font-family: Verdana;
	border-radius: 3px;
	

}