<!DOCTYPE html>
<html>
<head>
	<title>Sign up</title>
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Anton" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<ul>
		<li><a href="/" target="_blank"><img src="https://lh3.googleusercontent.com/tK6YGDCqciKOl4gLYohZF6l7piBHb0CI0nHCN341LSJ0Vw9P_VASc49ZQAMaosFmYYlc=w300" width="34" height="34" alt=".jpg"></a></li> 
		<li><a href="/kontakt">Kontakt Informasjon</a></li>
		<li><a href="/blogg">Blogg</a></li>
		<li><a href="/newblog">Ny Blogg</a></li>
		<li><a href="/aktiviteter"> Aktiviteter</a></li> 
		<li><a href="/login"> Login</a></li> 
		<li><a href="/signup"> Ny Bruker</a></li>
	</ul>
	<br>
	<br>
	<br>
		<div id="Wrapper">
	<h1> Ny Bruker </h1>
	<!--HTML og css trengs her-->
	<form method="post">
		<input cols="20" rows="1" class="LoginBokser" type="email" name="username" placeholder="Email"><br>
		<input cols="20" rows="1" class="LoginBokser" type="password" name="password" placeholder="Passord"><br>
		<input cols="20" rows="1" class="LoginBokser" type="password" name="repassword" placeholder="Gjenta Passord"><br>
		<input cols="20" rows="1" class="LoginBokser" type="text" name="firstname" placeholder="Første Navn"><br>
		<input cols="20" rows="1" class="LoginBokser" type="text" name="lastname" placeholder="Siste Navn"><br>
		<input type="submit"><br>
	</form>
	
		</div>

</body>
</html>