<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8"> 
	<link rel=StyleSheet href="../static/css/kontakt.css" type="text/css"> 

	<h1>VF-koding</h1>
	<h3>Kontaktinformasjon</h3>
<style>
 div.gallery {
     margin: 5px;
     border: 1px solid #ccc;
     float: left;
     width: 180px;
}
 div.gallery img {
     width: 100%;
     height: auto;
}
 div.desc {
     padding: 15px;
     text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
    <img src="public/pics/Andreas.JPG" alt="" width="300" height="200">
	<div class="overlay">
		<div class="info">Info</div>
	</div>	
</div>

<div class="gallery">
    <img src="public/pics/Eivind.JPG " alt="" width="300" height="200">
	<div class="overlay">
		<div class="info">Info</div>
	</div>
</div>

<div class="gallery">
    <img src="public/pics/FIlip.JPG " alt="" width="300" height="200">
	<div class="overlay">
		<div class="info">Info</div>
	</div>
</div>

<div class="gallery">
    <img src="public/pics/Kasper.JPG " alt="" width="300" height="200">
	<div class="overlay">
		<div class="info">Info</div>
	</div>
</div>

<div class="gallery">
    <img src="public/pics/Melody.JPG" alt="" width="300" height="200">
	<div class="overlay">
		<div class="info">Info</div>
	</div>
</div>

<div class="gallery">
    <img src="public/pics/Michelle.JPG" alt="" width="300" height="200">
	<div class="overlay">
		<div class="info">Info</div>
	</div>
</div>

<div class="gallery">
    <img src="public/pics/Sofie.JPEG" alt="" width="300" height="200">
	<div class="overlay">
		<div class="info">Info</div>
	</div>
</div>

<div class="gallery">
    <img src="public/pics/Sommervold.JPG" alt="" width="300" height="200">
	<div class="overlay">
		<div class="info">Info</div>
	</div>
</div>

<div class="gallery">
    <img src="public/pics/Victor.JPG" alt="" width="300" height="200">
	<div class="overlay">
		<div class="info">Info</div>
	</div>
</div>

</body>
</html>