<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Logg inn</title>
	<link rel="stylesheet" type="text/css" href="../static/css/Login.css">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Anton" rel="stylesheet">
</head>
<body>

		<div id="Wrapper">
	<h1> Logg inn </h1>
	<!--HTML og css trengs her-->
	<form method="post">
		<input type="email" name="username" placeholder="Email"><br>
		<input type="password" name="password" placeholder="Password"><br>
		<input type="submit"><br>
	</form>
	
		</div>
</body>
</html>