<!DOCTYPE html!>
<html> 

<head> 
 <title>hei</title> 
  <link rel="stylesheet" type="text/css" href="static/css/activities.css">  
  <meta charset="utf-8">
</head> 

 
 
 
 <body> 
<ul>

    <li><a href="/" target="_blank"><img src="https://lh3.googleusercontent.com/tK6YGDCqciKOl4gLYohZF6l7piBHb0CI0nHCN341LSJ0Vw9P_VASc49ZQAMaosFmYYlc=w300" width="34" height="34" alt=".jpg"></a></li> 
    <li><a href="/kontakt">Kontakt Informasjon</a></li>
    <li><a href="/blogg">Blogg</a></li>
    <li><a href="/newblog">Ny Blogg</a></li>
    <li><a href="/aktiviteter"> Aktiviteter</a></li> 
    <li><a href="/login"> Login</a></li> 
    <li><a href="/signup"> Ny Bruker</a></li>

 </ul>

         <br>
         <br>
         <br>

                 <div class="wrapper">


         <div class="toppen">

             <h1> Koding </h1>

         <br>

     <h2> Kommende aktiviteter </h2>

         <br>

         <hr>

         <br>

     </div>


 
<div class="Paragraf" >
                
        <div class="Turer">  
            <h3>Turer</h3> 
                <p>skriv inn her:......</p> 
        </div>   

</div>

 
<div class="Paragraf" >
                
        <div class="Hva">  
            <h3>Hva kommer til å skje iløpet av perioden</h3> 
                <p>skriv inn her:......</p> 
        </div>   

            </div>
 <div class="Paragraf" >
                
        <div class="Kommende">  
            <h3>Kommende vurderinger</h3> 
                <p>skriv inn her:......</p> 
        </div>   

            </div>
</div>
 <footer>
  <hr>
   <a class="Knapper" href="http://hugs.no/">Hugs</a>
   <a class="Knapper" href="mailto:youremailaddress">rka@hugs.no</a>
   <a class="Knapper" href="https://github.com/Robert0306/fagsidekoding">GitHub</a>
  <hr>
  </footer>
</body>  
 
</html>  
