<!DOCTYPE html> 
	<html> 
 		<head> 
 			<title>     Blogginnlegg    </title> 
 			<meta charset="utf-8">
            <link rel="stylesheet" type="text/css" href="/static/css/index.css">
			<link rel="stylesheet" type="text/css" href="/static/css/newblog.css">
 		</head> 
 	<body> 
        <ul>
            <li><a href="/" target="_blank"><img src="https://lh3.googleusercontent.com/tK6YGDCqciKOl4gLYohZF6l7piBHb0CI0nHCN341LSJ0Vw9P_VASc49ZQAMaosFmYYlc=w300" width="34" height="34" alt=".jpg"></a></li> 
            <li><a href="/kontakt">Kontakt Informasjon</a></li>
            <li><a href="/blogg">Blogg</a></li>
            <li><a href="/newblog">Ny Blogg</a></li>
            <li><a href="/aktiviteter"> Aktiviteter</a></li> 
            <li><a href="/login"> Login</a></li> 
            <li><a href="/signup"> Ny Bruker</a></li>
        </ul>
        <br>
        <br>
        <br>
        <div class="struktur">
            <div id="blogginlegg.div">
 			<h1>Lag ditt eget blogginnlegg!</h1>
                <form method="post">
        		  <input class="tittel" type="text" name="title" placeholder="Tittel" maxlength="150" required><br>
        		  <textarea class="Bloggtekst" name="content" placeholder="Blogginlegg" cols="70" rows="15" style="resize: none;" maxlength="10000" required></textarea>
        		  <input class="sendboks" type="submit">
    		  </form>
    	   </div>
        </div>			
	</body>
</html>
