<!DOCTYPE html>
<html lang="no">
<head>
	<meta charset="utf-8">
	<title>Login</title>
</head>
<body>
	<h1>LOGIN</h1>
	{{.}}
	<form method="post">
		<input type="text" name="username" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<input type="submit">
	</form>
	<h3><a href="/signup">Lag ny bruker</a></h3>
	<h3><a href="/">Hovedside</a></h3>
	
	

</body>
</html>